{
  "endOfLine": "lf",
  "arrowParens": "always",
  "jsxBracketSameLine": true,
  "jsxSingleQuote": true,
  "bracketSpacing": true,
  "singleQuote": true,
  "htmlWhitespaceSensitivity": "strict",
  "useTabs": false
}
